<?xml version="1.0" encoding="UTF-8"?>
<!--
  Virtual Overlay WiX MSI Installer Definition
  WiX v4 format
-->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

  <Package Name="Virtual Overlay"
           Manufacturer="Virtual Overlay Project"
           Version="1.0.0.0"
           UpgradeCode="f47ac10b-58cc-4372-a567-0e02b2c3d479"
           Language="1033"
           Compressed="yes"
           InstallerVersion="500">

    <SummaryInformation Description="Virtual Overlay - Desktop zoom and overlay utility"
                        Manufacturer="Virtual Overlay Project" />

    <!-- Upgrade behavior -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."
                  AllowSameVersionUpgrades="yes" />

    <!-- Media definition -->
    <Media Id="1" Cabinet="VirtualOverlay.cab" EmbedCab="yes" />

    <!-- Windows version check: Windows 10 v1803 or later -->
    <Launch Condition="VersionNT &gt;= 603" Message="This application requires Windows 10 version 1803 or later." />

    <!-- x64 only -->
    <Condition Message="This application requires a 64-bit version of Windows.">
      <![CDATA[VersionNT64]]>
    </Condition>

    <!-- Features -->
    <Feature Id="MainFeature"
             Title="Virtual Overlay"
             Description="Installs Virtual Overlay application"
             Level="1"
             ConfigurableDirectory="INSTALLFOLDER">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="StartMenuShortcuts" />
    </Feature>

    <!-- Custom UI reference -->
    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />

    <!-- License agreement -->
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

    <!-- Banner and dialog images -->
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />

    <!-- Properties -->
    <Property Id="ARPPRODUCTICON" Value="AppIcon.exe" />
    <Property Id="ARPHELPLINK" Value="https://github.com/virtual-overlay/virtual-overlay" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/virtual-overlay/virtual-overlay" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <!-- Install directory structure -->
    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Virtual Overlay" />
    </StandardDirectory>

    <!-- Start Menu shortcuts -->
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="Virtual Overlay" />
    </StandardDirectory>

  </Package>

  <!-- Product components -->
  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      
      <!-- Main executable -->
      <Component Id="MainExecutable" Guid="a1b2c3d4-e5f6-4a5b-8c9d-0e1f2a3b4c5d"
                 Bitness="always64">
        <File Id="VirtualOverlayExe"
              Name="virtual-overlay.exe"
              Source="$(var.BuildDir)\virtual-overlay.exe"
              KeyPath="yes">
          <Shortcut Id="DesktopShortcut"
                    Directory="DesktopFolder"
                    Name="Virtual Overlay"
                    WorkingDirectory="INSTALLFOLDER"
                    Advertise="yes"
                    Icon="AppIcon.exe" />
        </File>
      </Component>

      <!-- Configuration directory marker -->
      <Component Id="ConfigDir" Guid="c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f"
                 Bitness="always64">
        <CreateFolder />
        <RemoveFolder Id="RemoveInstallFolder" On="uninstall" />
      </Component>

    </ComponentGroup>
  </Fragment>

  <!-- Start Menu shortcuts -->
  <Fragment>
    <ComponentGroup Id="StartMenuShortcuts" Directory="ApplicationProgramsFolder">
      
      <Component Id="ApplicationShortcut" Guid="b2c3d4e5-f6a7-4b8c-9d0e-1f2a3b4c5d6e"
                 Bitness="always64">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Virtual Overlay"
                  Description="Desktop zoom and virtual desktop overlay"
                  Target="[INSTALLFOLDER]virtual-overlay.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="AppIcon.exe" />
        
        <Shortcut Id="UninstallShortcut"
                  Name="Uninstall Virtual Overlay"
                  Description="Uninstalls Virtual Overlay"
                  Target="[SystemFolder]msiexec.exe"
                  Arguments="/x [ProductCode]" />
        
        <RemoveFolder Id="RemoveApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU"
                       Key="Software\VirtualOverlay"
                       Name="Installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>

    </ComponentGroup>
  </Fragment>

  <!-- Desktop shortcut directory -->
  <Fragment>
    <StandardDirectory Id="DesktopFolder" />
  </Fragment>

  <!-- Application icon -->
  <Fragment>
    <Icon Id="AppIcon.exe" SourceFile="$(var.BuildDir)\virtual-overlay.exe" />
  </Fragment>

</Wix>
